html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: white;
}
.main_login_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	padding: 20px;
	border: 1px solid lightgrey;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}
.button_style {
	border: none;
	padding-right: 20px;
	padding-left: 20px;
	background-color: grey;
	color: wheat;
	padding-top: 10px;
	padding-bottom: 10px;
}
#forget {
	float: right;
}
.buttons {
	display: flex;
	align-items: center;
	color: #dad6a0;
}
#send, #back {
	display: flex;
}
form div {
	width: 100%;
}
#back:hover {
	cursor: pointer;
}

@media (max-width: 480px) 
{
	

	.main_login_container
	{
		width: 100%;
		box-shadow: 0px 0px 0px 0px ;
		border: none;
	}
}

#arrow{
	display: flex;
	cursor: pointer;
}

#successc {
	display: flex;
	margin-top: 20%;
	margin-left: 40%;
}