<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="css/login.css" rel="stylesheet">
	<link href="css/materialize.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Login Form</title>
</head>
<body>
	<div class="main_login_container">
		<h5 id="welcomer">Get Started! Register Here</h5>
		<div class="row">
			<form class="col l12" method="POST" action="/sign_up" id="formh">
				<div class="row">
					<div class="input-field col l12">
						<i class="material-icons prefix">email</i> <input name="email" class="validate" id="email" type="email" required> <label for="email">Email</label>
					</div>
				</div>
				<div class="row" id="password_row">
					<div class="input-field col l12">
						<i class="material-icons prefix">mode_edit</i> <input name="password" class="validate" id="password" type="password" required> <label for="password">Password</label>
					</div>
				</div>
				<div class="row" id="password_row_2">
					<div class="input-field col l12">
						<i class="material-icons prefix">mode_edit</i> <input class="validate" name="cpassword" id="cpassword" type="password" required> <label for="password">Confirm</label>
					</div>
				</div>
				<div class="row buttons">
					<div class="input-field col s4">
							<input type="submit" value="submit" style="display: none" id="submitinv">
						<a class="button_style" href="#" id="submitDetails"  name="submitDetails" onclick="check_pass(); submit_form();">Register</a>
					</div>
					<div class="input-field col s4">
						<a href="#" id="login">Login</a>
					</div>
				</div>
			</form>
		</div>
		<h5 id="welcomeh">Welcome Back</h5>
		<div class="row">
			<form class="col l12" method="POST" action="/login" id="forml">
				<div class="row">
					<div class="input-field col l12">
						<i class="material-icons prefix">email</i> <input name="email" class="validate" id="email" type="email" required> <label for="email">Email</label>
					</div>
				</div>
				<div class="row" id="send">
					<div class="input-field col s9">
						<a class="button_style" href="#">Send Email</a>
					</div>
				</div>
				<div class="row" id="password_Login">
					<div class="input-field col l12">
						<i class="material-icons prefix">mode_edit</i> <input name="password" class="validate" id="password" type="password" required> <label for="password">Password</label>
					</div><a href="#" id="forget">forgot password?</a>
				</div>
				<div class="row buttons">
					<div class="input-field col s4">
							<input type="submit" value="submit" style="display: none" id="submitin">
						<a href="#" id="showRegister">Register</a>
					</div>
					<div class="input-field col s4">
						<a class="button_style" href="#" id="loginSubmit" onclick="submit_formsec()">Login</a>
					</div>
				</div>
				</form>
				
	</div>
	<h5 id="passwordh">Recover Password</h5>
		<div class="row">
			<form class="col l12" method="POST" action="/forget" id="forgetf">
				<div class="row">
					<div class="input-field col l12">
						{{msg}}
						<i class="material-icons prefix">email</i> <input name="email" class="validate" id="email" type="email" required> <label for="email">Email</label>
					</div>
				</div>
				<div class="row" id="send">
					<div class="input-field col s9">
							<input type="submit" value="submit" style="display: none" id="submitfp">
						<a class="button_style" href="#" onclick="submit_formpass()">Send Email</a>
					</div>
				</div>
				<div class="row" id="arrow">
						<div class="input-field col s7">
							<i class="material-icons prefix">arrow_back</i>
						</div>
					</div>
				</form>

	</div>
	</div>

											
	<script src="js/login.js" type="text/javascript">
	</script> 
	<script src="js/materialize.min.js" type="text/javascript">
	</script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
</body>
</html>